@model WebShop.ViewModels.Catalog.PagedEnumerableViewModel<WebShop.Services.Models.Catalog.Book>

<div>
    @Html.Partial("_BookListViewPartial", Model.Items)
</div>

<div class="page-buttons">
    <div>
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemsCount)
    </div>
</div>