@using WebShop.Extensions
@model IEnumerable<WebShop.Services.Models.Catalog.Book>


@foreach (var book in Model)
{
    <div class="book-small">
        <div>
            <div class="top">
                <div class="thumb">
                    @Html.ImageActionLink(book.Cover, "Details", "Catalog", new RouteValueDictionary(new { id = book.Id }))
                </div>
                <div class="title">
                    @Html.ActionLink(book.Title, "Details", "Catalog", new { id = book.Id }, null)
                </div>
                <div class="space"></div>
            </div>

            <div class="bottom">
                <div>
                    @Html.Partial("_PricePartial", book.Price)
                </div>
                <div class="button">
                    @Ajax.ActionLink("Add to cart", "Add", "ShoppingCart", new { id = book.Id },
                            new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                OnSuccess = "addShoppingCartItem",
                                OnFailure = String.Format("toastr.error('Adding \"{0}\" to cart failed')", book.Title),
                            })
                </div>
            </div>
        </div>
    </div>
}