@model WebShop.ViewModels.PagedEnumerableViewModel<WebShop.Services.Models.Book>

<div>
    @Html.Partial("_BookListViewPartial", Model.Items)
</div>

<div class="pager">
    <div>
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemsCount).Options(a => a.Action("Index"))
    </div>
</div>