@model WebShop.ViewModels.PagedEnumerableViewModel<WebShop.Services.Models.Book>

@Html.Partial( "_BookListViewPartial", Model.Items )

<div>
    @Html.Pager( Model.PageSize, Model.PageNumber, Model.TotalItemsCount ).Options( a => a.Action( "Index" ) )
</div>
