@model WebShop.Services.Models.AuthorDetails
@{
    ViewBag.Title = Model.Name;
}

<div id="content-container">
    <div class="block-title">
        <h4>Books by <span class="highlight">@Model.Name</span></h4>
    </div>
    <div>
        @Html.Partial("_BookListViewPartial", Model.Books)
    </div>
</div>
