@model WebShop.ViewModels.PageViewModel
@{
    ViewBag.Title = "Best book shop";
}

<div id="content-container">
    <div>
        @Html.Action( "BookListViewPartial", "Catalog", new { page = Model.PageNumber } )
    </div>
</div>
