@{
    ViewBag.Title = "Best book shop";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>todo: Most popular books</h2>
            </hgroup>
        </div>
    </section>
}

<div id="content-container">
    @Html.Action("BookListViewPartial", "Catalog");
</div>
